# WebLogic
WL_ADMIN_URL=t3://127.0.0.1:7101
WL_ADMIN_USER=weblogic
WL_ADMIN_PASS=

# Gmail SMTP
WL_SMTP_HOST=smtp.gmail.com
WL_SMTP_PORT=587
WL_SMTP_USER=
WL_SMTP_PASS=
WL_SMTP_USE_TLS=true
WL_EMAIL_FROM=
WL_EMAIL_TO=
